.container {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 240px;
    height: 240px;
}

.chart {
    transform: rotate(-90deg);
}

.progress {
    transition: stroke-dashoffset 1s ease-out;
}

.label {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.percentage {
    font-size: 48px;
    font-weight: 700;
    color: var(--color-text-primary);
}

.text {
    font-size: 14px;
    color: var(--color-text-secondary);
    margin-top: -4px;
}